@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #a989ff;
  border: 0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scroll-behavior: smooth !important;
}
